.btn {
  margin-top: 5%;
  a {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 13px;
    color: black;
    background-color: transparent;
    text-transform: uppercase;
  }
  text-align: start;
}
